<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Jackal</title>-->
<!--</head>-->
<!--<body>-->

<!--<script>-->

<!--    function changeText(id) {-->


<!--        id.innerHTML = "?????";-->

<!--    }-->

<!--</script>-->
<!--<table>-->
<!--    <div th:each="i : ${grid}">-->
<!--        <tr>-->
<!--        <div th:each="j : ${i}">-->
<!--            <th>-->
<!--                <form action="game" method="post">-->
<!--                    <input type="hidden" name="cell" th:value="${j}"/>-->
<!--                    <button th:text="${j}"> </button>-->
<!--                </form>-->
<!--            </th>-->
<!--        </div>-->
<!--        </tr>-->
<!--    </div>-->
<!--</table>-->

<!--<div th:each="p : ${players}">-->
<!--    <table border="10" width="70%">-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th><a th:text="${p.getName()}"></a></th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th><a th:text="${p.getId()}"></a></th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Coins</th>-->
<!--            <th><a th:text="${p.getMoney()}"></a></th>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">-->
<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jackal</title>
    <style>
        p {
            margin-top: 0.00002em;
            margin-bottom: 0.00002em;
        }
        .res {
            text-align: left;
        }
        body {
            background-color: rgb(192, 192, 192);
        }
        .fig {
            text-align: center;
        }
        .players img:hover {
            border: 1px solid #55c5e9;
            padding: 1px;
            background: #666;
        }

        .cells button:hover {
            border: 0px;
            padding: 0px;
        }

        .cells button {
            border: 0px;
            padding: 0px;
        }

        table {
            margin: auto;
        }

    </style>
</head>

<body class="fig">
<script>

    var grid = [];
    var cur_pirate = -1;
    var pirates = [78, 78, 78, 90, 90, 90];
    var ships = [78, 90];
    var hint = [];
    var hint_name = [];
    var cur_ship = -1;
    var el_ship = null;var grid = [];
    var cur_pirate = -1;
    var pirates = [78, 78, 78, 90, 90, 90];
    var ships = [78, 90];
    var hint = [];
    var hint_name = [];
    var cur_ship = -1;
    var el_ship = null;
    var killed = 0;
    const p_c = ["player11", "player12", "player13", "player21", "player22", "player23"];
    const start_pos_top = [380, 380, 408, 380, 380, 408];
    const start_pos_left = [375, 405, 375, 1022, 1052, 1022];
    var photos = new Map();
    photos = {
        water: "C://Projects/Jackal/img/empty.png",
        blocked: "C://Projects/Jackal/img/empty.png",
        ship: "C://Projects/Jackal/img/ship.png",
        close: "C://Projects/Jackal/img/empty.png",
        empty: "C://Projects/Jackal/img/classic-empty-1.png",
        arrow: "C://Projects/Jackal/img/classic-arrow-1s.png",
        horse: "C://Projects/Jackal/img/classic-horse.png",
        lab$II: "C://Projects/Jackal/img/classic-rotate-2.png",
        lab$III: "C://Projects/Jackal/img/classic-rotate-3.png",
        lab$IV: "C://Projects/Jackal/img/classic-rotate-4.png",
        lab$V: "C://Projects/Jackal/img/classic-rotate-5.png",
        ice: "C://Projects/Jackal/img/classic-ice.png",
        croc: "C://Projects/Jackal/img/classic-crocodile.png",
        cannibal: "C://Projects/Jackal/img/classic-cannibal.png",
        fortress: "C://Projects/Jackal/img/classic-fort.png",
        resurrect: "C://Projects/Jackal/img/classic-fort-w-aborigine.png",
        trap: "C://Projects/Jackal/img/empty.png",
        aircraft: "C://Projects/Jackal/img/empty.png",
        airplane: "C://Projects/Jackal/img/classic-airplane.png",
        leftcannon: "C://Projects/Jackal/img/left cannon.png",
        rightcannon: "C://Projects/Jackal/img/rightcannon.png",
        chest$I: "C://Projects/Jackal/img/classic-coins-1.png",
        chest$II: "C://Projects/Jackal/img/classic-coins-2.png",
        chest$III: "C://Projects/Jackal/img/classic-coins-3.png",
        chest$IV: "C://Projects/Jackal/img/classic-coins-4.png",
        chest$V: "C://Projects/Jackal/img/classic-coins-5.png",
        rum$barrel: "C://Projects/Jackal/img/classic-keg.png"
    };
    function imgon(Elem) {
        for (var i = 0; i < 169; i++) {
            document.getElementById(i).id = grid.table[i / 13][i % 13].Id;
            document.getElementById(i).src = photos[grid.table[i / 13][i % 13].type];
        }
    }

</script>
<div class="res">
    <p>
        <input type=text placeholder="Игрок 1">: 0
    </p>
    <p>
        <input type=text placeholder="Игрок 2">: 0
    </p>
    <p>
        <img name="turn" id="turn" src="../../static/img/first_player.png" alt="player turn" style="position: absolute;
        top: 10px; left: 625px;" width="164" height="24" border=0>
    </p>
</div>
<table class="cells">
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="0"><img th:src="@{../../static/img/empty2.png}" id="0" width="50" height="50" border=0 padding=0  onclick="imgon(this)" alt="" src="../../static/img/empty2.png"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="1"><img th:src="@{../../static/img/empty2.png}" id="1"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)" alt=""></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="2"><img  id="2"   src="static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="3"><img  id="3"   src="static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="4"><img  id="4"   src="static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="5"><img  id="5"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="6"><img  id="6"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="7"><img  id="7"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="8"><img  id="8"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="9"><img  id="9"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="10"><img  id="10"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="11"><img  id="11"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="12"><img  id="12"   src="/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="13"><img  id="13"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)" alt=""></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="14"><img  id="14"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="15"><img  id="15"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="16"><img  id="16"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="17"><img  id="17"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="18"><img  id="18"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="19"><img  id="19"   src="/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="20"><img  id="20"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="21"><img  id="21"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="22"><img  id="22"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="23"><img  id="23"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="24"><img  id="24"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="25"><img  id="25"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="26"><img  id="26"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="27"><img  id="27"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="28"><img  id="28"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="29"><img  id="29"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="30"><img  id="30"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="31"><img  id="31"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="32"><img  id="32"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="33"><img  id="33"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="34"><img  id="34"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="35"><img  id="35"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="36"><img  id="36"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="37"><img  id="37"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell" value="38"><img  id="38"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="39"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="40"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="41"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="42"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="43"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="44"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="45"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="46"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="47"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="48"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="49"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="50"   src="img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="51"   src="img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="52"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="53"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="54"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="55"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="56"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="57"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="58"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="59"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="60"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="61"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="62"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="63"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="64"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="65"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="66"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="67"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="68"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="69"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="70"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="71"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="72"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="73"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="74"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="75"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="76"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="77"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="78"   src="C://Projects/Jackal/img/ship.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="79"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="80"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="81"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="82"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="83"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="84"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="85"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="86"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="87"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="88"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="89"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="90"   src="C://Projects/Jackal/img/ship.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="91"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="92"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="93"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="94"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="95"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="96"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="97"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="98"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="99"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="100"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="101"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="102"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="103"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="104"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="105"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="106"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="107"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="108"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="109"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="110"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="111"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="112"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="113"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="114"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="115"   src="C://Projects/Jackal/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="116"   src="C://Projects/Jackal/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="117"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="118"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="119"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="120"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="121"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="122"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="123"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="124"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="125"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="126"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="127"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="128"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="129"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="130"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="131"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="132"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="133"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="134"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="135"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="136"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="137"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="138"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="139"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="140"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="141"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="142"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="143"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="144"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="145"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="146"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="147"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="148"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="149"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="150"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="151"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="152"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="153"   src="../../static/img/close.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="154"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="155"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
    <tr>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="156"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="157"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="158"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="159"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="160"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="161"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="162"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="163"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="164"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="165"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="166"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="167"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
        <td><form action="game" method="post"><button type="hidden" name="cell"><img  id="168"   src="../../static/img/empty2.png"  width="50" height="50" border=0 padding=0  onclick="imgon(this)"></button>
        </form></td>
    </tr>
</table>
<h1 class="players">
    <img id="player11" name="0" src="../../static/img/red.png" alt="first" width="15" height="15" style="position: absolute;
        top: 420px;
        left: 348px;">
    <img id="player12" name="1" src="../../static/img/red.png" alt="first" width="15" height="15" style="position: absolute;
        top: 420px;
        left: 378px;">
    <img id="player13" name="2" src="../../static/img/red.png" alt="first" width="15" height="15" style="position: absolute;
        top: 450px;
        left: 348px;">
    <img id="player21" name="3" src="../../static/img/black.png" alt="first" width="15" height="15" style="position: absolute;
        top: 420px;
        left: 1045px;">
    <img id="player22" name="4" src="../../static/img/black.png" alt="first" width="15" height="15" style="position: absolute;
        top: 420px;
        left: 1075px;">
    <img id="player23" name="5" src="../../static/img/black.png" alt="first" width="15" height="15" style="position: absolute;
        top: 450px;
        left: 1045px;">
</h1>
</body>
</html>